.achieve-box {
    .achieve-icon {
        font-size: 1.875rem;
        height: 90px;
        width: 90px;
        border-radius: 100%;
        color: #fff;
    }

    .achieve-box-detail {
        h2 {
            font-weight: 500;
            color: #fff;
        }

        p {
            color: #fff;
        }
    }
}

