.page-btn {
    button {
        margin: 5px;
        width: 46px;
        height: 46px;
        border-radius: 100%;
        background: #ffffff;
        color: #101115;
        transition: all ease .3s;
        text-align: center;
        box-shadow: 0 2px 7px 0 rgba(4, 4, 4, 0.06);
    }

    button:hover {
        background: #f16126;
        color: #ffff;
    }
}